<!DOCTYPE html>
<html>
    <head>
        <title>Aviro wallet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="src/css/style.css">
        <script src="src/js/qrcode.js"></script>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <div class="main" id="wallet">
            <div class="card card-top">
                <div class="logo-group">
                    <img class="logo" src="img/logo.png">

                    <h3>Aviro<a class="discreet-button" id="settingsBtn" @click="showSettings = true"><i class="fixicon" data-feather="settings"></i></a></h3>
                </div>
            </div>

            <div class="card">
                <h5 class="grey nobottom"><i class="fixicon" data-feather="credit-card"></i> {{username}}</h5>
                <h1>{{balaio}} <small>AIO</small></h1>
                <h4 class="grey"><b>{{currencySymbols[currencyCode] + balfiat + " " + currencyCode.toUpperCase()}}</b></h4>

                <br>

                <button @click="showSend = true" class="button send-btn" href="#"><i class="fixicon" data-feather="arrow-up-right"></i> Send</button>&nbsp;
                <button id="receiveBtn" class="button primary send-btn" href="#"><i class="fixicon" data-feather="arrow-down-left"></i> Receive</button>

                <div class="top-right">
                    <a class="discreet-button"><i class="fixicon" data-feather="edit-3"></i></a>
                </div>
            </div>




            <div id="receiveFunds" class="hide">
                <div class="card">
                    <div class="top-right">
                        <a id="receiveFundsClose" class="discreet-button"><i class="fixicon" data-feather="x"></i></a>
                    </div>

                    <br>

                    <h3>Receive funds</h3>

                    <br>

                    <h4>Receive address: <i><span id="address"></span></i></h4>

                    <br>

                    <div id="qrcode"></div>

                    <script type="text/javascript">
                        new QRCode(document.getElementById("qrcode"), address);
                    </script>
                </div>
            </div>
            
            <send-modal v-if="showSend" v-on:close="showSend = false" v-bind:currency="currencyCode"></send-modal>
            
            <settings-modal v-if="showSettings" v-on:close="showSettings = false" v-bind:username="username" v-bind:nodeip="nodeip" v-bind:currency="currencyCode"></settings-modal>

            <div class="card">
                <h4 class="grey">Transactions</h4>

                <br>

                <div id="transactionList"></div>
            </div>

        </div>

        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="src/js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <script src="src/js/components.js"></script>
        

        <script>
            feather.replace();
            loadDashboard();
        </script>
    </body>
</html> 
